.titleReset {
    color: #FFFFFF;
    font-size: 45px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px!important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.box-forgot{
    width: 500px;
    height: 455px;
    background-color: rgba(2, 21, 50, 0.75);
    border-radius: 40px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-form-forgot {
    height: 600px;
    max-width: 400px;
    opacity: 200%;
    margin: auto;
    padding-top: 0px;
}

.inputMail {
    border-radius: 100px;
    margin-bottom: 10px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    height: 45px;
}

.login-form-button-reset {
    width: 100%;
    height: 45px;
    background-color: #33FFAD;
    border-radius: 100px;
    color: #707070;
    font-size: 16px;
    border-color: transparent!important;
}

.login-form-button-reset:hover {
    background-color: #24a772;
    color: white;
}

.login-form-button-reset>a {
    color: white!important;
    font-weight: bold;
}

.texto {
    text-align: justify;
    color: #FFFFFF;
    font-size: 20px;
}

.text-center {
    color: #FFFFFF;
    font-size: 16px;
}

.message{
    color: white;
}

/* ----------- Media Queries ----------- */
@media screen and (max-width: 510px) {
    .box-forgot{
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    .login-form-forgot{
        width: 70%;
    }

    .login-form-forgot {
        margin-top: 5%;
    }

    .titleReset {
        margin-top: 35%;
        font-size: 30px;
    }

    .login-form-button-reset {
        height: 55px;
    }

}

